<div class="container row">
  <div class="col-md-6">
    <h4>Current expenses</h4><br>
    <h4>Selected</h4>
    <li *ngIf="selected" class="list-group-item">
      <span class="badge badge-primary">{{selected.id}}</span>
      <span> {{selected.description}}: {{selected.amountSpent}}</span>
      <span class="badge badge-info float-right mt-2">{{selected.category}}</span>
    </li>
    <hr>
    <h4>Expense list:</h4>
    <ul class="list-group">
        <ng-container *ngFor="let expense of expenses; let i = index">
            <li class="list-group-item"  (click)="selected=expense"
                *ngIf="categories.includes(expense.category) || categories.length == 0">

                <span class="badge badge-primary">{{i}}</span>
                <span> {{expense.description}}: {{expense.amountSpent}}</span>
                <span class="badge badge-info float-right mt-2">{{expense.category}}</span>
                <br>
                <a target="_blank" routerLink="/expenses/{{expense.id}}">Details</a>

            </li>
        </ng-container>
    </ul>
  </div>
  <div class="col-md-6 ">
    <form class="form-group">
      <h4>Add new expense</h4><br>
      <label for="description">Description:</label>
      <input type="text" class="form-control">
    </form>
  </div>
</div>
