<div class="container row">
  <div class="col-md-6">
    <h4>Current expenses</h4><br>
    <h4>Selected</h4>
    <li *ngIf="selectedExpense" class="list-group-item">
      <span class="badge badge-primary">{{selectedExpense.id}}</span>
      <span> {{selectedExpense.description}}: {{selectedExpense.amountSpent}}</span>
      <span class="badge badge-info float-right mt-2">{{selectedExpense.category}}</span>
      <br>
      <button class="btn btn-sm btn-primary" (click)="deleteSelected()">
      <span *ngIf="!deleting">Delete</span><span *ngIf="deleting"class="spinner-border spinner-border-sm"></span>
      </button>&nbsp;
    <button class="btn btn-sm btn-primary" (click)="duplicateSelected()">
    <span *ngIf="!duplicating">Duplicate</span><span *ngIf="duplicating"class="spinner-border spinner-border-sm"></span>
    </button>
    </li>
    
    <hr>
    <h4>Expense list:</h4>
    <div class="form-check">
    <ng-container *ngFor="let category of categories">
     
        <input
        id="check{{category}}"
        class="form-check-input"
        type="checkbox"
        name="selectedCategories[]"
        value="{{category}}"
        ng-checked="selectedCategories.indexOf(category) > -1"
        (click)="toggleSelection(category)"> 
        <label for="check{{category}}" class="form-check-label">{{category}}</label><br>
    </ng-container>
    </div>
    <ul class="list-group" (clickOutside)="selectedExpense=null">
        <ng-container *ngFor="let expense of expenses">
            <li class="list-group-item"  (click)="selectedExpense=expense"
                *ngIf="selectedCategories.includes(expense.category) || selectedCategories.length == 0">

                <span class="badge badge-primary">{{expense.id}}</span>
                <span> {{expense.description}}: {{expense.amountSpent}}</span>
                <span class="badge badge-info float-right mt-2">{{expense.category}}</span>
                <br>
                <a target="_blank" routerLink="/expenses/{{expense.id}}">Details</a>

            </li>
        </ng-container>
    </ul>
  </div>
  <div class="col-md-6 ">
    <form ng-submit="addExpense()"class="form-group">
      <h4>Add new expense</h4><br>
      <label for="description">Description:</label>
      <input id="description" [(ngModel)]="formExpense.description" type="text" name="description" class="form-control">
      <label for="amount" >Amount spent:</label>
      <input id="amount" [(ngModel)]="formExpense.amountSpent" name="amountSpent" type="number" class="form-control">
      <label for="category">Category:</label>
      <select id="category" [(ngModel)]="formExpense.category" name="category" class="form-control">
        <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
      </select>
      <br>
      <button *ngIf="!saving" class="form-control" style="color:black;" (click)="addFromForm()">Add</button>
        <button *ngIf="saving" class="form-control">
            <span class="spinner-border spinner-border-sm"></span>
        </button>
    </form>
  </div>
</div>
